<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neu.admin.mapper.CityMapper">
    <!-- 插入方法 -->
    <!--useGeneratedKeys="true" keyProperty="id"  默认把自增的逐渐重新放回user对象-->
    <insert id="insert"  useGeneratedKeys="true" keyProperty="id">
        insert into city(`name`,`state`,`country`) values(#{name},#{state},#{country})
    </insert>
</mapper>